.projects{
    padding: 25px 0 25px;
    .projects_container{
        padding: 30px 0;
    }
    .parent-content{
        background:rgba(255, 0, 0, 0.507) ;
        border-radius: 15px;
        min-height:200px ;
        max-height: 300px;
        margin-bottom: 17px;
    }
}